.o-Dropper {
  height: 30vH;
  border: 2px dashed #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: #eeeeee;
  }

  input[type='file'] {
    width: 100%;
    height: 30vH;
    position: absolute;
    opacity: 0;
  }
}
